--extra-index-url https://download.pytorch.org/whl/cpu

ultralytics
huggingface_hub
transformers
open_clip_torch
paddlepaddle
paddleocr
openai==3.16.2
pydantic
python-dotenv
pillow
numpy
tqdm
pytest
fastapi
uvicorn[standard]
python-multipart
psycopg[binary]
PyJWT
bcrypt
boto3
pywebpush
stripe==15.6.1
